<!DOCTYPE HTML>
<html>
	<head>
		<title>EduTrade</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/dashboard/assets/css/main.css" />
		<!--===============================================================================================-->
		<link rel="icon" type="image/png" href="../images/icons/icon.png" />
		<!--===============================================================================================-->
		<!-- Scripts -->
		<script src="../css/dashboard/assets/js/jquery.min.js"></script>
		<script src="../css/dashboard/assets/js/jquery.scrolly.min.js"></script>
		<script src="../css/dashboard/assets/js/jquery.scrollex.min.js"></script>
		<script src="../css/dashboard/assets/js/browser.min.js"></script>
		<script src="../css/dashboard/assets/js/breakpoints.min.js"></script>
		<script src="../css/dashboard/assets/js/util.js"></script>
		<script src="../css/dashboard/assets/js/main.js"></script>
		<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	</head>

	<body class="is-preload">

		

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="../css/dashboard/images/earn.png" alt="" /></span>
							<h1 id="title">BrydonMemeLord</h1>
							<p>Balance &nbsp; $e-dollar</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="icon solid fa-home">My dashboard</span></a></li>
								<li><a href="#holdings" id="holdings-link"><span class="icon solid fa-book-open">Holdings</span></a></li>
								<li><a href="#market" id="about-link"><span class="icon solid fa-search-dollar">Market</span></a></li>
								<li><a href="#account" id="accounts-link"><span class="icon solid fa-user-circle">Account</span></a></li>
							</ul>
						</nav>

				</div>
			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
				<section id="top" class="one cover dark">
					<div class="container">
						<h2>Account</h2>
					</div>
				</section>

				<!-- Portfolio -->
			<section id="account" class="four">
				<div class="container">
					<h2>Edit Profile</h2>
					<hr>
						<!-- Pic Upload -->
						<div class="col-md-3">
						<div class="text-center">
							<img src="../css/dashboard/images/earn.png" class="avatar img-circle" alt="avatar" style="height: 200px; width: 300px;">
							<h6>Upload a different photo...</h6>
							<input type="file">
						</div>
						</div>
						<!-- edit form column -->
						<form class="form-horizontal" role="form">
							<div class="form-group">
							<label class="col-lg-3 control-label">Username:</label>
							<div class="col-lg-8">
								<input class="form-control" type="text" value="fetch username here">
							</div>
							</div>
							<div class="form-group">
							<label class="col-lg-3 control-label">Name:</label>
								<div class="col-lg-8">
									<input class="form-control" type="text" value="BrydonMemeLord">
								</div>
							</div>
							<div class="form-group">
							<label class="col-lg-3 control-label">Age:</label>
								<div class="col-lg-8">
									<input class="form-control" type="text" value="age">
								</div>
							</div>
							<div class="form-group">
							<label class="col-lg-3 control-label">Email:</label>
								<div class="col-lg-8">
									<input class="form-control" type="text" value="email@email.com">
								</div>
							</div>
								<div class="form-group">
								<label class="col-lg-3 control-label">Institution:</label>
									<div class="col-lg-8">
										<div class="ui-select">
										<select id="user_time_zone" class="form-control">
											<option value="School 1">School 1</option>
											<option value="School 2">School 2</option>
											<option value="School 3">School 3</option>
											<option value="School 4">School 4</option>
											<option value="School 5">School 5</option>
											<option value="School 6" selected="selected">School 6</option>
											<option value="School 7">School 7</option>
											<option value="School 8">School 8</option>
										</select>
										</div>
									</div>
								</div>
								<div class="form-group">
								<label class="col-md-3 control-label">Password:</label>
									<div class="col-md-8">
										<input class="form-control" type="password" value="password">
									</div>
								</div>
								<div class="form-group">
								<label class="col-md-3 control-label">Confirm password:</label>
								<div class="col-md-8">
									<input class="form-control" type="password" value="password">
								</div>
								</div>
								<div class="form-group">
								<label class="col-md-3 control-label"></label>
								<div class="col-md-8">
									<input type="button" class="btn btn-primary" value="Save Changes">
										<span></span>
									<input type="reset" class="btn btn-default" value="Cancel">
								</div>
								</div>
							</form>
							</div>
				</div>
			</section>
					
	</body>
</html>