<!DOCTYPE HTML>

<html>

<head>

	<title>EduTrade</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../css/dashboard/assets/css/main.css" />

	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../css/dashboard/images/icon.png" />
	<!-- Scripts -->
	<script src="../css/dashboard/assets/js/jquery.min.js"></script>
	<script src="../css/dashboard/assets/js/jquery.scrolly.min.js"></script>
	<script src="../css/dashboard/assets/js/jquery.scrollex.min.js"></script>
	<script src="../css/dashboard/assets/js/browser.min.js"></script>
	<script src="../css/dashboard/assets/js/breakpoints.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script src="../js/strftime.js"></script>

</head>

<body class="is-preload">

	<!-- Retrieve session -->
	<script>
		var username = sessionStorage.getItem("user");
	</script>

	<!-- Header -->
	<div id="header">

		<div class="top">

			<!-- Logo -->
			<div id="logo">
				<h1 id="usernametop">Username</h1>
				<p id="credits">Balance</p>
				<p id="logout" style="font-size: small; text-align: right;"><a href="login.html">Logout</a></p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="#top" id="top-link"><span class="icon solid fa-home">My dashboard</span></a></li>
					<li><a href="#holdings" id="holdings-link"><span class="icon solid fa-book-open">Holdings</span></a>
					</li>
					<li><a href="stocks.html" id="stocks-link"><span
								class="icon solid fa-search-dollar">Market</span></a></li>
					<li><a href="account.html" id="account-link"><span
								class="icon solid fa-user-circle">Account</span></a>
					</li>
				</ul>
			</nav>

		</div>
	</div>

	<!-- Main -->
	<div id="main">

		<!-- Intro -->
		<section id="top" class="one cover dark">
			<div class="container">
				<h2>These are the stocks you currently own! </h2>
			</div>
		</section>

		<!-- Portfolio -->
		<section id="holdings" class="two">
			<div class="container">
				<h2>Holdings</h2><br>
				<table id="allHoldings">
					<tr>
						<th>Symbol</th>
						<th>Name</th>
						<th>Qty</th>
						<th>Date purchased</th>
						<th>Price Bought ($)</th>
						<th>Current Price ($)</th>
						<th>Unrealised P/L</th>
						<th></th>
					</tr>
					<script>
						// anonymous async function
						// - using await requires the function that calls it to be async

						$(async () => {

							let requestParam = {
								headers: {
									"Content-Type": "charset=UTF-8"
								},
								mode: 'cors', // allow cross-origin resource sharing
								method: 'GET',
							}
							// Change serviceURL to your own
							var serviceURL = "http://127.0.0.1:5010/holdings/" + username;

							try {
								const response =
									await fetch(serviceURL, requestParam);
								const data = await response.json();
								var holdings = data.holdings; //the arr is in data.holdings of the JSON data
								
								// array or array.length are false
								if (!holdings || !holdings.length) {
									$('#allHoldings').append("<tr><td colspan=8 style='background:gray'>You have no holdings!</td></tr>");
								} else {
									// for loop to setup all table rows with obtained holdings data
									var rows = "";
									for (const stock of holdings) {
										let stockDetails = await getLatestStock(stock.symbol);
										var unrealised = (stockDetails.price - stock.buyprice) * stock.qty;
										var date = new Date(stock.datepurchased);
										date.setHours(date.getHours() - 8);
										var eachRow = "<td>" + stock.symbol + "</td>" +
											"<td>" + stockDetails.stockname + "</td>" +
											"<td>" + String(stock.qty) + "</td>" +
											"<td>" + strftime("%Y-%m-%d %H:%M:%S", date) + "</td>" +
											"<td>" + String(stock.buyprice) + "</td>" +
											"<td>" + String(stockDetails.price) + "</td>";

										if (unrealised < 0) {
											eachRow = eachRow + "<td> <strong style='color:#e63e32'>" + unrealised.toFixed(2) + "</strong></td>";
										} else {
											eachRow = eachRow + "<td><strong style='color:#4caf50'>" + unrealised.toFixed(2) + "</strong></td>";
										}

										eachRow = eachRow + "<td><button type='submit' class='submitbtn' value='" + stock.symbol + "'><a href='#trading'>Sell Now</a></button></td>";
										rows += "<tr>" + eachRow + "</tr>";
									}
									// add all the rows to the table
									$('#allHoldings').append(rows);
								}
							} catch (error) {
								var rows = "<tr><td colspan='6'>Currently unable to display your holdings.</td></tr>";
								$('#allHoldings').append(rows);
								// Errors when calling the service; such as network error,
								// service offline, etc
								showError
									('There is a problem retrieving holdings data, please try again later.' + error);
							} // error

						});
					</script>
				</table>


			</div>
			<a href="#alerts" id="newAlert">Set an alert so you know when you buy / sell!<br><i
					class="fas fa-angle-double-down fa-2x"></i></a>
			<!--
					Alerts requires user to add symbol, price and alert type (< / >)
				 -->
			<div>
			</div>
		</section>

		<!-- Selling purchased stocks -->
		<section id="trading" style="background-image: none;" class="three">
			<div class="container">
			  <h2>Earned enough? Cutting losses? Sell your stocks here!</h2><br>
			  <div class="row">
				<table id="tradingtable" style="width: 350px; margin-left: 130px;">
				  <tr>
					<th>Symbol</th>
					<td style="background-color: grey;" id="selectedsymbol">-</td>
				  </tr>
				  <tr>
					<th>Name</th>
					<td style="background-color: grey;" id="selectedname">-</td>
				  </tr>
				  <tr>
					<th>Quantity Purchased</th>
					<td style="background-color: grey;" id="selectedqty">-</td>
				  </tr>
				  <tr>
					<th>Date Purchased</th>
					<td style="background-color: grey;" id="selecteddate">-</td>
				  </tr>
				  <tr>
					<th>Buy Price ($)</th>
					<td style="background-color: grey;" id="selectedbuy">-</td>
				  </tr>
				  <tr>
					<th>Current Price ($)</th>
					<td style="background-color: grey;" id="selectedprice">-</td>
				  </tr>
				</table>
				<form method= "POST" id="tradingform">
					<table class="box">
						<tr style="background-color:#d9d9d9;">
							<td style="font-size: larger; font-weight: bold; color:black">Selling:</td>
							<td><input type="text" id="userquantity" placeholder="Set Quantity" min="1" max="999" style=" text-align: center; padding-bottom: 10px; width: 180px;"/></td>
						</tr>
						<tr style="background-color:#d9d9d9;">
							<td style="font-size: larger; font-weight: bold; color:black">P/L ($):</td>
							<td><input type="text" id="profitloss" disabled readonly style=" text-align: center; padding-bottom: 10px; font-weight: bold; width: 180px;"/>
							</td>
						</tr>
						<tr>
							<td></td>
							<td><button type="button" class="sellbutton" colspan="2" style ="width: 100px; height: 50px; font-size: large; font-weight: bold;">Sell</button></td>
						</tr>
					</table>
				</form>
			</div>
			</div>
		</section>

		<!-- All user alerts -->
		<section id="currentalerts" class="four">
			<div class="container">
				<h2>Current Alerts</h2><br>
				<table id="useralerts">
					<tr>
						<th>Alert ID</th>
						<th>Symbol</th>
						<th>Price</th>
						<th>Alert Type</th>
						<th style="width:110px"></th>
					</tr>

				<script>
					var serviceURL = "http://localhost:5030/alert/" + username;
					async function getAlerts(serviceURL) {
						let requestParam = {
							headers: {
								"content-type": "charset=UTF-8"
							},
							mode: "cors",
							method: "GET",
						}

						try {
							const response = await fetch(serviceURL, requestParam);
							const data = await response.json();
							var rows = "";
							if (data.alerts) {
								var alerts = data.alerts;
								// for loop to setup all table rows with obtained alert data
								for (const alert of alerts) {
									var eachRow = "<td>" + alert.alertid + "</td>" +
										"<td id='selectedsymbol'>" + alert.symbol + "</td>" +
										"<td id='selectedalerttype'>" + alert.alerttype + "</td>" +
										"<td id='selectedprice'>" + alert.price + "</td>" +
										"<td><a href= '#editalerts' id='editalertbtn'><i class='far fa-edit' style='padding: 0 3px'></i></a>" +
										"<a href='' id='deletealertbtn'><i class='far fa-trash-alt' style='padding: 0 3px'></i></a></td>";
									rows += "<tr>" + eachRow + "</tr>";
								}
							} else if (data.message) {
								rows += "<tr><td colspan='5'>" + "You have no alerts set." + "</td></tr>";
							}
							
							// add all the rows to the table
							$('#useralerts').append(rows);
						}
						catch (error) {
							var rows = "<tr><td colspan='6'>Currently unable to display your alerts.</td></tr>";
							$('#useralerts').append(rows);
							// Errors when calling the service; such as network error,
							// service offline, etc
							showError
								('There is a problem retrieving alert data, please try again later.<br />' + error);
						} // error
					};
					$(function () {
						let alerts = getAlerts(serviceURL);
						})
				</script>
			</div>
		</section>

		<!-- Editing existing alerts -->
		<section id="editalerts" class="two">
            <div class="container">
                <h2>Edit Alert</h2>
                <form class="form-horizontal" role="form" id="editalertForm" method="POST">
                    <table>
                        <tr>
                            <td colspan="1">
                                <label class="col-lg-3 control-label">Symbol:</label><input type="text" id="editsymbol"
                                    name="symbol" size="15" disabled style="background: #dddddd" />
                            </td>
                            <td colspan="2">
                                <label class="col-lg-3 control-label">Alert Type:</label>
                                <select id="editalerttype" name="alerttype">
                                    <option value="<">
                                        < </option>
                                    <option value=">"> > </option>
                                </select>
                            </td>
                            <td colspan="1">
                                <label class="col-lg-3 control-label">Price:</label><input type="text" id="editprice"
                                    name="price" size="15" />
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="Save Changes">
                </form>
            </div>
		</section>

		<!-- Creating a new alert -->
		<section id="alerts" class="five">
			<div class="container">
				<h2>Set new alert</h2><br>
				<form class="form-horizontal" role="form" id="alertForm" method = "POST">
					<table>
						<tr>
							<td colspan="1">
								<label class="col-lg-3 control-label">Symbol:</label><input type="text" id="symbol"
									name="symbol" size="15" />
							</td>
							<td colspan="2">
								<label class="col-lg-3 control-label">Alert Type:</label>
								<select id="alerttype" name="alerttype">
									<option value="<"> < </option>
									<option value=">"> > </option>
								</select>
							</td>
							<td colspan="1">
								<label class="col-lg-3 control-label">Price:</label><input type="text" id="price"
									name="price" size="15" />
							</td>
						</tr>
					</table>
					<input type="submit">
				</form>
			</div>


			<script>
				$("#alertForm").submit( async function (event) {
						event.preventDefault();

						var user = username;
						var symbol = $("#symbol").val();
						var price = $("#price").val();
						var alerttype = $("#alerttype").val();

						var post = JSON.stringify({username: user, symbol: symbol, price: price, alerttype: alerttype});
						console.log(post);

						let requestParam = {
									headers: {"Content-Type": "application/json;", "Accept": "application/json"},
									body: JSON.stringify({username: user, symbol: symbol, price: price, alerttype: alerttype}),
									mode: 'cors', // allow cross-origin resource sharing
									method: 'POST',
								}
						// Change serviceURL to your own
						var serviceURL = "http://127.0.0.1:5030/alert/add";

						try {
							const response = await fetch(serviceURL, requestParam);
							const data = await response.json();
							Swal.fire({
								title: 'Success!',
								text: "You have successfully created an alert for your stock",
								icon: 'success',
								confirmButtonColor: '#4caf50',
								confirmButtonText: 'Okay'}).then(
								function(){
									window.location = window.location.href.split("#")[0];
								}
							)
						} catch (error) {
							// Errors when calling the service; such as network error,
							// service offline, etc
							showError
								('There is an error creating alerts, please try again later.\n' + error);

						} // error
					})
			</script>
		</section>


		<!-- Footer -->
		<!-- <div id="footer"> -->

	</div>

	<script>
		// On run, hide alert creation form
		$(function () {
			$("#alerts").hide();
		})

		$(function() {
            $("#editalerts").hide();
        })

		// If user selects "Create new alert", show the alert creation form
		$("#newAlert").click(function () {
			$("#alerts").show();
		})

		$(".far fa-edit").click(function () {
            $("#editalerts").show();
        })

		// Helper function to display error message
		function showError(message) {
			// Display an error under the main container
			Swal.fire({
							title: 'Error!',
							text: message,
							icon: 'error',
							confirmButtonColor: '#4caf50',
							confirmButtonText: 'Okay'
						})
		}

		// Helper function that accesses stocks to retrieve name of stocks and the current price of the symbol.
		async function getLatestStock(symbol) {
			let requestParam = {
				headers: {
					"content-type": "charset=UTF-8"
				},
				mode: 'cors', // allow cross-origin resource sharing
				method: 'GET',
			}
			var serviceURL = "http://127.0.0.1:6010/stock/" + symbol;
			try {
				const response =
					await fetch(serviceURL, requestParam);
				const data = await response.json();
				// array or array.length are false
				if (data) {
					return data;
				} else {
					showError('No such stock!')
				}
			} catch (error) {
				// Errors when calling the service; such as network error,
				// service offline, etc
				showError
					('There is a problem retrieving holdings data, please try again later.<br />' + error);

			} // error
		}

		$(document).on('click', '#editalertbtn', function () {
           var currentRow = $(this).closest("tr");
           var stocksymbol = currentRow.find("td:eq(1)").html();
           var alerttype = currentRow.find("td:eq(2)").html();
           var price = currentRow.find("td:eq(3)").html();

           document.getElementById('editsymbol').value = stocksymbol;
           document.getElementById('editalerttype').value = alerttype;
           document.getElementById('editprice').value = price;

       })

        $("#editalertForm").submit(async function (event) {
           event.preventDefault();

           var user = username;
           var symbol = $("#editsymbol").val();
           var price = $("#editprice").val();
           var alerttype = $("#editalerttype").val();

           var post = JSON.stringify({ username: user, symbol: symbol, price: price, alerttype: alerttype });
           console.log(post);

           let requestParam = {
               headers: { "Content-Type": "application/json;", "Accept": "application/json" },
               body: JSON.stringify({ username: user, symbol: symbol, price: price, alerttype: alerttype }),
               mode: 'cors', // allow cross-origin resource sharing
               method: 'POST',
           }
            // Change serviceURL to your own
           var serviceURL = "http://127.0.0.1:5030/alert/update";

           try {
              const response = await fetch(serviceURL, requestParam);
               const data = await response.json();
               Swal.fire({
                   title: 'Success!',
                   text: "You have successfully updated an alert for your stock",
                   icon: 'success',
                   confirmButtonColor: '#4caf50',
                   confirmButtonText: 'Okay'
               }).then(
                   function () {
                       location.reload();
                   })
           } catch (error) {
                // Errors when calling the service; such as network error,
                // service offline, etc
               showError
                   ('There is an error updating alerts, please try again later.\n' + error);

           } // error
        })

        $(document).on('click', '#deletealertbtn', async function () {
            event.preventDefault();

            var user = username;
            var currentRow = $(this).closest("tr");
            var symbol = currentRow.find("td:eq(1)").html();
            if (currentRow.find("td:eq(2)").html() == "&lt;") {
                var alerttype = "<";
            }
            else {
                var alerttype = ">";
            }
            var price = currentRow.find("td:eq(3)").html();

            var post = JSON.stringify({ username: user, symbol: symbol, price: price, alerttype: alerttype });

            let requestParam = {
                headers: { "Content-Type": "application/json;", "Accept": "application/json" },
                body: JSON.stringify({ username: user, symbol: symbol, price: price, alerttype: alerttype }),
                mode: 'cors', // allow cross-origin resource sharing
                method: 'POST',
            }
            // Change serviceURL to your own
            var serviceURL = "http://127.0.0.1:5030/alert/delete";
			// console.log(requestParam);
            try {
                const response = await fetch(serviceURL, requestParam);
				console.log(response);
                const data = await response.json();
                // console.log(data);
                Swal.fire({
                    title: 'Success!',
                    text: "You have successfully deleted an alert for your stock",
                    icon: 'success',
                    confirmButtonColor: '#4caf50',
                    confirmButtonText: 'Okay'
                }).then(
                    function () {
                        location.reload();
                    })
            } catch (error) {
                // Errors when calling the service; such as network error,
                // service offline, etc
                showError
                    ('There is an error deleting this alert, please try again later.\n' + error);

            } // error
        })

		// Upon clicking the sell button in the holdings table, 
		$(document).on('click', '.sellbutton', function() {
		//   console.log(rowStock);
		  var user = username;
		  var stocksymbol = rowStock[0];
		  var stockname = rowStock[1];
		  var stocktime = rowStock[3];
		  var stockcurrentprice = rowStock[5];
		  var userquantity = $('#userquantity').val();
		//   console.log(userquantity);
		  async function postData(serviceURL, requestBody) {
			  console.log(JSON.stringify(requestBody));
			  var requestParam = {
				  headers: { "Accept": "application/json;", "Content-Type": "application/json;" },
				  mode: 'cors', // other options: no-cors, etc.
				  method: 'POST',
				  body: JSON.stringify(requestBody)
			  }
			  try {
				  const response = await fetch(serviceURL,requestParam);
				  data = await response.json();
				  if (data) {
					Swal.fire({
							title: 'Success!',
							text: "You have sold your stocks!",
							icon: 'success',
							confirmButtonColor: '#4caf50',
							confirmButtonText: 'Okay'
						})
				  }

			  } catch (error) {
				Swal.fire({
							title: 'Unsuccessful!',
							text: "Please check if you have entered the correct quantity!",
							icon: 'fail',
							confirmButtonColor: '#4caf50',
							confirmButtonText: 'Okay'
						})
			  }
		  }
			var serviceURL = "http://127.0.0.1:5020/sell";
			var userquantity = parseInt(document.getElementById('userquantity').value);
			var stockcurrentprice = parseFloat(document.getElementById('selectedprice').textContent);
			var requestBody = {
				username: username, symbol: stocksymbol, price: stockcurrentprice, 
				qty: userquantity, transactiontype: "Sell", purchasedtime: stocktime
			};
			postData(serviceURL, requestBody);
		});

		// Upon changing the value in "Quantity" field, auto calculate and display
		$(document).on('change', '#userquantity', function() {
		  var userquantity = document.getElementById('userquantity').value;
		  var stockcurrentprice = document.getElementById('selectedprice').textContent;
		  var holdingbuyprice = document.getElementById('selectedbuy').textContent;
		  document.getElementById("profitloss").value = (userquantity * stockcurrentprice - userquantity * holdingbuyprice).toFixed(2);
		//   console.log(userquantity);
		//   console.log(stockcurrentprice);
		});

		// Upon clicking the "Sell Now" button, auto fill the form
		$(document).on('click', '.submitbtn', function() {
		  var currentRow=$(this).closest("tr");
		  var holdingsymbol=currentRow.find("td:eq(0)").html();
		  var holdingname=currentRow.find("td:eq(1)").html();
		  var holdingqty=currentRow.find("td:eq(2)").html();
		  var holdingdate=currentRow.find("td:eq(3)").html();
		  var holdingbuyprice=currentRow.find("td:eq(4)").html();
		  var stockcurrentprice=currentRow.find("td:eq(5)").html();

		  rowStock = [holdingsymbol, holdingname, holdingqty, holdingdate, holdingbuyprice, stockcurrentprice];
		  document.getElementById('selectedsymbol').innerHTML = holdingsymbol;
		  document.getElementById('selectedname').innerHTML = holdingname;
		  document.getElementById('selectedqty').innerHTML = holdingqty;
		  document.getElementById('selecteddate').innerHTML = holdingdate;
		  document.getElementById('selectedbuy').innerHTML = holdingbuyprice;
		  document.getElementById('selectedprice').innerHTML = stockcurrentprice;
		  var userquantity = document.getElementById('userquantity').value;
		  var stockcurrentprice = document.getElementById('selectedprice').textContent;
		  document.getElementById("profitloss").value = (userquantity * stockcurrentprice - userquantity * holdingbuyprice);

		});
	</script>
	<script src="../css/dashboard/assets/js/util.js"></script>
	<script src="../css/dashboard/assets/js/main.js"></script>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</body>

</html>