<!DOCTYPE HTML>

<html>

<head>

    <title>EduTrade</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../css/dashboard/assets/css/main.css" />

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../css/dashboard/images/icon.png" />
    <!-- Scripts -->
    <script src="../css/dashboard/assets/js/jquery.min.js"></script>
    <script src="../css/dashboard/assets/js/jquery.scrolly.min.js"></script>
    <script src="../css/dashboard/assets/js/jquery.scrollex.min.js"></script>
    <script src="../css/dashboard/assets/js/browser.min.js"></script>
    <script src="../css/dashboard/assets/js/breakpoints.min.js"></script>
</head>

<body class="is-preload">

    <!-- Retrieve session -->
    <script>
        var username = sessionStorage.getItem("user");
    </script>

    <!-- Header -->
    <div id="header">

        <div class="top">

            <!-- Logo -->
            <div id="logo">
                <h1 id="usernametop">Username</h1>
                <p id="credits">Balance</p>
                <p id="logout" style="font-size: small; text-align: right;"><a href="login.html">Logout</a></p>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="#top" id="top-link"><span class="icon solid fa-home">My dashboard</span></a></li>
                    <li><a href="#holdings" id="holdings-link"><span class="icon solid fa-book-open">Holdings</span></a>
                    </li>
                    <li><a href="stocks.html" id="stocks-link"><span
                                class="icon solid fa-search-dollar">Market</span></a></li>
                    <li><a href="account.html" id="account-link"><span
                                class="icon solid fa-user-circle">Account</span></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

    <!-- Main -->
    <div id="main">

        <!-- Intro -->
        <section id="top" class="one cover dark">
            <div class="container">
                <h2>These are the stocks you currently own! </h2>
            </div>
        </section>

        <!-- Portfolio -->
        <section id="holdings" class="two">
            <div class="container">
                <h2>Holdings</h2><br>
                <table id="allHoldings">
                    <tr>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th>Qty</th>
                        <th>Price Bought ($)</th>
                        <th>Current Price ($)</th>
                        <th>Unrealised P/L</th>
                    </tr>
                    <script>
                        // anonymous async function
                        // - using await requires the function that calls it to be async

                        $(async () => {

                            let requestParam = {
                                headers: {
                                    "Content-Type": "charset=UTF-8"
                                },
                                mode: 'cors', // allow cross-origin resource sharing
                                method: 'GET',
                            }
                            // Change serviceURL to your own
                            var serviceURL = "http://127.0.0.1:5010/holdings/" + username;

                            try {
                                const response =
                                    await fetch(serviceURL, requestParam);
                                const data = await response.json();
                                var holdings = data.holdings; //the arr is in data.holdings of the JSON data

                                // array or array.length are false
                                if (!holdings || !holdings.length) {
                                    showError('You have no holdings!')
                                } else {
                                    // for loop to setup all table rows with obtained holdings data
                                    var rows = "";
                                    for (const stock of holdings) {
                                        let stockDetails = await getLatestStock(stock.symbol);
                                        var unrealised = (stockDetails.price - stock.buyprice) * stock.qty;

                                        var eachRow = "<td>" + stock.symbol + "</td>" +
                                            "<td>" + stockDetails.stockname + "</td>" +
                                            "<td>" + String(stock.qty) + "</td>" +
                                            "<td>" + String(stock.buyprice) + "</td>" +
                                            "<td>" + String(stockDetails.price) + "</td>";

                                        if (unrealised < 0) {
                                            eachRow = eachRow + "<td style='color:#e63e32'>" + unrealised.toFixed(2) + "</td>";
                                        } else {
                                            eachRow = eachRow + "<td style='color:#4caf50'>" + unrealised.toFixed(2) + "</td>";
                                        }
                                        rows += "<tr>" + eachRow + "</tr>";
                                    }
                                    // add all the rows to the table
                                    $('#allHoldings').append(rows);
                                }
                            } catch (error) {
                                var rows = "<tr><td colspan='6'>Currently unable to display your holdings.</td></tr>";
                                $('#allHoldings').append(rows);
                                // Errors when calling the service; such as network error,
                                // service offline, etc
                                showError
                                    ('There is a problem retrieving holdings data, please try again later.<br />' + error);

                            } // error

                        });
                    </script>
                </table>


            </div>
            <a href="#alerts" id="newAlert">Set an alert so you know when you buy / sell!<br><i
                    class="fas fa-angle-double-down fa-2x"></i></a>
            <!--
                    Alerts requires user to add symbol, price and alert type (< / >)
                 -->
            <div>
            </div>
        </section>

        <section id="alerts" class="three">
            <div class="container">
                <h2>Set new alert</h2><br>
                <form class="form-horizontal" role="form" id="alertForm" method = "POST">
                    <table>
                        <tr>
                            <td colspan="1">
                                <label class="col-lg-3 control-label">Symbol:</label><input type="text" id="symbol"
                                    name="symbol" size="15" />
                            </td>
                            <td colspan="2">
                                <label class="col-lg-3 control-label">Alert Type:</label>
                                <select id="alerttype" name="alerttype">
                                    <option value="<"> < </option>
                                    <option value=">"> > </option>
                                </select>
                            </td>
                            <td colspan="1">
                                <label class="col-lg-3 control-label">Price:</label><input type="text" id="price"
                                    name="price" size="15" />
                            </td>
                        </tr>
                    </table>
                    <input type="submit">
                </form>


            </div>
            <script>
                $("#alertForm").submit(function () {
                    let requestParam = {
                        headers: {
                            "content-type": "charset=UTF-8"
                        },
                        mode: 'cors', // allow cross-origin resource sharing
                        method: 'POST',
                    }
                    // Change serviceURL to your own
                    var serviceURL = "http://127.0.0.1:5010/holdings/" + username;

                    try {
                        const response = await fetch(serviceURL, requestParam);
                        const data = await response.json();
                        var holdings = data.holdings; //the arr is in data.holdings of the JSON data

                        // array or array.length are false
                        if (!holdings || !holdings.length) {
                            showError('You have no holdings!')
                        } else {
                            // for loop to setup all table rows with obtained holdings data
                            var rows = "";
                            for (const stock of holdings) {
                                let stockDetails = await getLatestStock(stock.symbol);
                                var unrealised = (stockDetails.price - stock.buyprice) * stock.qty;

                                var eachRow = "<td>" + stock.symbol + "</td>" +
                                    "<td>" + stockDetails.stockname + "</td>" +
                                    "<td>" + String(stock.qty) + "</td>" +
                                    "<td>" + String(stock.buyprice) + "</td>" +
                                    "<td>" + String(stockDetails.price) + "</td>";

                                if (unrealised < 0) {
                                    eachRow = eachRow + "<td style='color:#e63e32'>" + unrealised.toFixed(2) + "</td>";
                                } else {
                                    eachRow = eachRow + "<td style='color:#4caf50'>" + unrealised.toFixed(2) + "</td>";
                                }
                                rows += "<tr>" + eachRow + "</tr>";
                            }
                            // add all the rows to the table
                            $('#allHoldings').append(rows);
                        }
                    } catch (error) {
                        var rows = "<tr><td colspan='6'>Currently unable to display your holdings.</td></tr>";
                        $('#allHoldings').append(rows);
                        // Errors when calling the service; such as network error,
                        // service offline, etc
                        showError
                            ('There is a problem retrieving holdings data, please try again later.<br />' + error);

                    } // error
                })
            </script>
        </section>

        <section id="currentalerts" class="two">
            <div class="container">
                <h2>Current Alerts</h2><br>
                <table id="useralerts">
                    <tr>
                        <th>Alert ID</th>
                        <th>Symbol</th>
                        <th>Price</th>
                        <th>Alert Type</th>
                    </tr>

                    <script>

                        var serviceURL = "http://localhost:5030/alert/" + username;
                        async function getAlerts(serviceURL) {
                            let requestParam = {
                                headers: {
                                    "content-type": "charset=UTF-8"
                                },
                                mode: "cors",
                                method: "GET",
                            }

                            try {
                                const response = await fetch(serviceURL, requestParam);
                                data = await response.json();
                                var alerts = data.alerts;
                                // for loop to setup all table rows with obtained alert data
                                var rows = "";
                                for (const alert of alerts) {
                                    var eachRow = "<td>" + alert.alertid + "</td>" +
                                        "<td>" + alert.symbol + "</td>" +
                                        "<td>" + alert.price + "</td>" +
                                        "<td>" + alert.alerttype + "</td>";                                    rows += eachRow;
                                }
                                // add all the rows to the table
                                $('#useralerts').append(rows);
                            }
                            catch (error) {
                                var rows = "<tr><td colspan='6'>Currently unable to display your alerts.</td></tr>";
                                $('#useralerts').append(rows);
                                // Errors when calling the service; such as network error,
                                // service offline, etc
                                showError
                                    ('There is a problem retrieving alert data, please try again later.<br />' + error);
                            } // error
                        };
                $("#alertForm").submit( async function (event) {
                    event.preventDefault();

                    var user = username;
                    var symbol = $("#symbol").val();
                    var price = $("#price").val();
                    var alerttype = $("#alerttype").val();

                    var post = JSON.stringify({username: user, symbol: symbol, price: price, alerttype: alerttype});
                    console.log(post);

                    let requestParam = {
                                headers: {"Content-Type": "application/json;", "Accept": "application/json"},
                                body: JSON.stringify({username: user, symbol: symbol, price: price, alerttype: alerttype}),
                                mode: 'cors', // allow cross-origin resource sharing
                                method: 'POST',
                            }
                    // Change serviceURL to your own
                    var serviceURL = "http://127.0.0.1:5030/alert/add";

                    try {
                        const response = await fetch(serviceURL, requestParam);
                        const data = await response.json();
                    } catch (error) {
                        // Errors when calling the service; such as network error,
                        // service offline, etc
                        showError
                            ('There is an error creating alerts, please try again later.\n' + error);

                    } // error
                })
            </script>
        </section>

                        $(function () {
                        
                        let alerts = getAlerts(serviceURL);
                        });
                    </script>
            </div>
        </section>

        <!-- Footer -->
        <!-- <div id="footer"> -->

    </div>

    <script>
        $(function () {
            $("#alerts").hide();
        })

        // Helper function to display error message
        function showError(message) {
            // Display an error under the main container
            alert(message);
        }

        async function getLatestStock(symbol) {
            let requestParam = {
                headers: {
                    "content-type": "charset=UTF-8"
                },
                mode: 'cors', // allow cross-origin resource sharing
                method: 'GET',
            }
            var serviceURL = "http://127.0.0.1:6010/stock/" + symbol;
            try {
                const response =
                    await fetch(serviceURL, requestParam);
                const data = await response.json();
                // array or array.length are false
                if (data) {
                    return data;
                } else {
                    showError('No such stock!')
                }
            } catch (error) {
                // Errors when calling the service; such as network error,
                // service offline, etc
                showError
                    ('There is a problem retrieving holdings data, please try again later.<br />' + error);

            } // error
        }

        $("#newAlert").click(function () {
            $("#alerts").show();
        })
    </script>
    <script src="../css/dashboard/assets/js/util.js"></script>
    <script src="../css/dashboard/assets/js/main.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</body>

</html>