<!DOCTYPE HTML>
<html>
	<head>
		<title>EduTrade</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/dashboard/assets/css/main.css" />

		<!--===============================================================================================-->
		<link rel="icon" type="image/png" href="../css/dashboard/images/icon.png" />
		
	</head>

	<body class="is-preload">
		<!-- Header -->
			<div id="header">

				<div class="top">
					<!-- Logo -->
						<div id="logo">
							<h1 id="title">BrydonMemeLord</h1>
							<p>Balance &nbsp; $e-dollar</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="icon solid fa-home">My dashboard</span></a></li>
								<li><a href="#holdings" id="holdings-link"><span class="icon solid fa-book-open">Holdings</span></a></li>
								<li><a href="#trading" id="trading-link"><span class="icon solid fa-search-dollar">Market</span></a></li>
								<li><a href="account.php" id="account-link"><span class="icon solid fa-user-circle">Account</span></a></li>
							</ul>
						</nav>

				</div>
			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one cover dark">
						<div class="container">
							<h2>Welcome to EduTrade, BrydonMemeLord!</h2>
							</div>
						</section>

				<!-- Portfolio -->
					<section id="holdings" class="two">
						<div class="container">
							<h2>Holdings</h2><br><br>
							<table>
								<tr>
								<th>Symbol</th>
								<th>Name</th>
								<th>Qty</th>
								<th>Price Bought ($)</th>
								<th>Current Price ($)</th>
								<th>Change %</th>
								</tr>
								<tr>
									<td>GGL</td>
									<td>Google</td>
									<td>200</td>
									<td class="center">15.00</td>
									<td class="center">20.00</td>
									<td><i class="fas fa-angle-double-up" style="color:#4caf50;"></i><strong style="color:#4caf50;"> 12.00% </strong></td>
								</tr>
								<tr>
									<td>APPL</td>
									<td>Apple</td>
									<td>400</td>
									<td class="center">32.00</td>
									<td class="center">28.00</td>
									<td><i class="fas fa-angle-double-down" style="color:#c80000;"></i><strong style="color:#c80000;"> 17.26% </strong></td>
								</tr>
								<tr>
									<td>MCSF</td>
									<td>Microsoft</td>
									<td>100</td>
									<td class="center">40.00</td>
									<td class="center">32.00</td>
									<td><i class="fas fa-angle-double-down" style="color:#c80000;"></i><strong style="color:#c80000;"> 10.39% </strong></td>
								</tr>
								<tr>
									<td>FB</td>
									<td>Facebook</td>
									<td>140</td>
									<td class="center">35.00</td>
									<td class="center">28.00</td>
									<td><i class="fas fa-angle-double-up" style="color:#4caf50;"></i><strong style="color:#4caf50;"> 17.88% </strong></td>
								</tr>
								<tr>
									<td>TWT</td>
									<td>Twitter</td>
									<td>180</td>
									<td class="center">12.00</td>
									<td class="center">15.00</td>
									<td><i class="fas fa-angle-double-down" style="color:#c80000;"></i><strong style="color:#c80000;"> 5.43% </strong></td>
								</tr>
								<tr>
									<td colspan="6" align="right"><a href=""><i class="fas fa-angle-double-right fa-2x"></i></a></td>
								</tr>
							</table>
						</div>

						<div>
						<h2>Alerts</h2><br>
						<p>You currently have no alerts set. To add an alert, click <a href = "" style="font-weight:bold;">here</a></p>
						</div>
					</section>

					<section id="trading" class="three">
						<div class="container">
							<h2>Market</h2><br>
								<table>
									<tr>
									<th>Symbol</th>
									<th>Name</th>
									<th>Qty</th>
									<th>Current Price ($)</th>
									<th>Change %</th>
									</tr>
									<tr>
										<td>GGL</td>
										<td>Google</td>
										<td>200</td>
										<td class="center">20.00</td>
										<td><i class="fas fa-angle-double-up" style="color:#4caf50;"></i><strong style="color:#4caf50;"> 12.00% </strong></td>
									</tr>
									<tr>
										<td>APPL</td>
										<td>Apple</td>
										<td>400</td>
										<td class="center">28.00</td>
										<td><i class="fas fa-angle-double-down" style="color:#c80000;"></i><strong style="color:#c80000;"> 17.26% </strong></td>
									</tr>
									<tr>
										<td>MCSF</td>
										<td>Microsoft</td>
										<td>100</td>
										<td class="center">32.00</td>
										<td><i class="fas fa-angle-double-down" style="color:#c80000;"></i><strong style="color:#c80000;"> 10.39% </strong></td>
									</tr>
									<tr>
										<td>FB</td>
										<td>Facebook</td>
										<td>140</td>
										<td class="center">28.00</td>
										<td><i class="fas fa-angle-double-up" style="color:#4caf50;"></i><strong style="color:#4caf50;"> 17.88% </strong></td>
									</tr>
									<tr>
										<td>TWT</td>
										<td>Twitter</td>
										<td>180</td>
										<td class="center">15.00</td>
										<td><i class="fas fa-angle-double-down" style="color:#c80000;"></i><strong style="color:#c80000;"> 5.43% </strong></td>
									</tr>
									<tr>
										<td colspan="6" align="right"><a href=""><i class="fas fa-angle-double-right fa-2x"></i></a></td>
									</tr>
								</table>
							</div>
						<!-- <script>
							window.onload = function () {
								
							var limit = 50000;
							var y = 100;    
							var data = [];
							var dataSeries = { type: "line" };
							var dataPoints = [];
							for (var i = 0; i < limit; i += 1) {
								y += Math.round(Math.random() * 10 - 5);
								dataPoints.push({
									x: i,
									y: y
								});
							}
							dataSeries.dataPoints = dataPoints;
							data.push(dataSeries);
							
							//Better to construct options first and then pass it as a parameter
							var options = {
								zoomEnabled: true,
								animationEnabled: true,
								axisY: {
									includeZero: false,
									lineThickness: 1
								},
								data: data  // random data
							};
							var chart = new CanvasJS.Chart("chartContainer", options);
							var startTime = new Date();
							chart.render();
							var endTime = new Date();								
							}
							</script>
							</head>
							<body>
							<div id="chartContainer" style="height: 300px; width: 100%;"></div>
							<span id="timeToRender"></span> -->

		<!-- Footer -->
			<!-- <div id="footer"> -->

				<!-- Copyright -->
					<!-- <ul class="copyright">
						<li>&copy;For demonstration purposes only.</li>
					</ul> -->

			</div>

		<!-- Scripts -->
			<script src="../css/dashboard/assets/js/jquery.min.js"></script>
			<script src="../css/dashboard/assets/js/jquery.scrolly.min.js"></script>
			<script src="../css/dashboard/assets/js/jquery.scrollex.min.js"></script>
			<script src="../css/dashboard/assets/js/browser.min.js"></script>
			<script src="../css/dashboard/assets/js/breakpoints.min.js"></script>
			<script src="../css/dashboard/assets/js/util.js"></script>
			<script src="../css/dashboard/assets/js/main.js"></script>
			<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

	</body>
</html>
