<!DOCTYPE html>
<html lang="en">

<head>
	<title>EduTrade</title>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../css/images/icons/icon.png"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../css/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../css/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../css/login & signup/util.css">
	<link rel="stylesheet" type="text/css" href="../css/login & signup/main.css">
	<!--===============================================================================================-->
</head>

<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('../css/images/bg2.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-logo">
					<img src="../css/images/icons/logo.png" alt="EduTrade" height="42" width="300" />
				</span>

				<form id = 'userLoginForm' class="login100-form validate-form p-b-33 p-t-5" method='POST'>
					<span class="login100-form-title p-t-20 p-b-20">
						Account Login
					</span>
					<div class="wrap-input100 validate-input" data-validate="Enter username">
						<input id = 'username' class="input100" type="text" name="username" placeholder="User name">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input id = 'password' class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					<span class="login100-form-sign-up p-t-20">
						New User? Sign up <a href="signup.html">here</a>
					</span>

				</form>
			</div>
		</div>
	</div>
	<script>
		$("#userLoginForm").submit(async (event) => {
			event.preventDefault();
			var username = $('#username').val();
			var password = $('#password').val();
			// var serviceURL = "http://127.0.0.1:5010/userauthenticate";
			var serviceURL = "http://127.0.0.1:8000/user/userauthenticate";
			try {
				const response =
				await fetch(
					serviceURL, { method: 'POST',
					headers: { "Accept": "application/json;", 
				  			"Content-Type": "application/json;",
							"Access-Control-Allow-Origin":"*",
							"Access-Control-Allow-Credentials":"True" },
					mode: 'cors', // other options: no-cors, etc.
					body: JSON.stringify ({
						username: username,	
						password: password})});
				const data = await response.json();
				if (data['status'] == 'success'){
					window.location.replace("./index.html");
					sessionStorage.setItem("user", username);
				}
				else if (data['status'] == 'fail') {
					Swal.fire({
					text: data['message'],
					icon: 'warning',
					confirmButtonColor: '#3085d6',
					confirmButtonText: 'Okay'
				})
				}
			}
			catch (error) {
				// Errors when calling the service; such as network error, 
				// service offline, etc
				Swal.fire({
					text: error,
					icon: 'error warning',
					confirmButtonColor: '#3085d6',
					confirmButtonText: 'Okay'
				})
			}
		})
	</script>


	<!--===============================================================================================-->
	<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="../vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="../vendor/bootstrap/js/popper.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="../vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="../vendor/daterangepicker/moment.min.js"></script>
	<script src="../vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="../vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="../js/main.js"></script>

</body>

</html>