<!DOCTYPE HTML>
<html style='scroll-behavior: smooth'>

<head>
	<title>EduTrade</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/dashboard/assets/css/main.css" />
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../css/dashboard/images/icon.png" />
	<!-- ===============================================================================================-->
	<!-- Scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	

	<script src="../css/dashboard/assets/js/jquery.min.js"></script>
	<script src="../css/dashboard/assets/js/jquery.scrolly.min.js"></script>
	<script src="../css/dashboard/assets/js/jquery.scrollex.min.js"></script>
	<script src="../css/dashboard/assets/js/browser.min.js"></script>
	<script src="../css/dashboard/assets/js/breakpoints.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js">
	</script>
	<!-- For Modal-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />	

	<script type = "text/javascript">
	   google.charts.load('current', {packages: ['corechart','line']});  
	</script>
	<style>
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		.box {
		width:300px;
		height:30px;
		
		background-color:#d9d9d9;
		position: relative;
		}
		a, a:active, a:focus{
			outline: none; /* Works in Firefox, Chrome, IE8 and above */ 
		
		}
		.modal {
			width: 60vw;
			max-width: 80vw;
			}

	</style>
	<script>
		
		// anonymous async function 
		// - using await requires the function that calls it to be async
		$(async () => {
			// Change serviceURL to your own
			var serviceURL = "http://127.0.0.1:6010/stock/allstockdata";

			try {
				const response =
					await fetch(
					serviceURL, { method: 'GET', mode: 'cors' }
				);
				const data = await response.json();
				var stocks = data.stocksdata //the arr is in data.books of the JSON data
				// console.log(stocks)

				// array or array.length are falsy
				if (data.length == 0) {
					console.log("no stocks");
				} else {
					// for loop to setup all table rows with obtained book data
					var rows = "";
					for (const stock of stocks) {
						// console.log(stock)
						eachRow =
							"<td>" + stock.symbol + "</td>" +
							"<td>" + stock.stockname + "</td>" +
							"<td>" + stock.volume.toLocaleString() + "</td>" +
							"<td>" + stock.price + "</td>" +
							"<td><a href = '#trading'><button type='submit' class='submitbtn' style='width:10vw; padding: 0.5vmin; font-size:2.5vmin' value='" + stock.symbol + "'>Buy</button></a></td>" +
							"<td style='width:12vw'><a href='#'><i id='newsicon' style='padding:0 1vw' class='far fa-lg fa-newspaper'></i></a>"+
							"<i style='padding:0 1vw' class='fas fa-lg fa-chart-line'></i></td>";
						rows += "<tr style='font-size:3vmin; font-family:Rouge Script, cursive'>" + eachRow + "</tr>";
					}
					// add all the rows to the table
					$('#stockstable').append(rows);
				}
			} catch (error) {
				// Errors when calling the service; such as network error, 
				// service offline, etc
				console.log(error);
			} // error
		});
		
	</script>
</head>

<body class="is-preload">

	<!-- Retrieve session -->
	<script>
		var rowStock = new Array();
		var username = sessionStorage.getItem("user");
	</script>


	<!-- Header -->
	<div id="header">

		<div class="top">

			<!-- Logo -->
			<div id="logo">
				<h1 id="usernametop">Username</h1>
				<p id="credits">Balance</p>
				<p id="logout" style="font-size: small; text-align: right;"><a href="login.html">Logout</a></p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="dashboard.html" id="index-link"><span class="icon solid fa-home">My
								dashboard</span></a></li>
					<li><a href="#holdings" id="holdings-link"><span
								class="icon solid fa-book-open">Holdings</span></a></li>
					<li><a href="#stocks" id="trading-link"><span
								class="icon solid fa-search-dollar">View Market</span></a></li>
					<li><a href="#trading" id="trading-link"><span
									class="icon solid fa-search-dollar">Trading</span></a></li>
					<li><a href="account.html" id="account-link"><span class="icon solid fa-user-circle">Account</span></a>
					</li>
				</ul>
			</nav>

		</div>
	</div>

	<!-- Main -->
	<div id="main">
		<!-- Stock news of ind stock-->
		<section id = "news" style="overflow:scroll;" class='modal'>
			<h2 style ="font-size: 5vmin; font-family: 'Rouge Script', cursive; text-align: center;">Related News</h2>
			<div class="container">
				<table id="newstable" class = "table table-striped">
					<tr style ="font-size: 2.5vmin; font-family:'Rouge Script', cursive">
						<th>Author</th>
						<th>News Title</th>
						<th>Published Date</th>
					</tr>
				</table>
			</div>
		</section>

		<!-- All Stock -->
		<section id="stocks" style="background-image: none; height:100vh; position: relative">
            <div class="container">
              <h2 style ="font-size: 5vmin; font-family: 'Rouge Script', cursive">Stocks List</h2><br>
              <table id="stockstable" class = "table table-striped">
                <tr style = "font-size: 2.5vmin; font-family:'Rouge Script', cursive">
                  <th>Symbol</th>
                  <th>Name</th>
                  <th>Volume</th>
                  <th>Current Price ($)</th>
				  <th>Purchase</th>
				  <th></th>
                </tr>
              </table>
            </div>
		</section>  

		

		<!-- Stock past prices chart
		<section id="pastpricechart" style="height:100vh">
			<div id = "pastpricecontainer">
				<h2 style ="font-size: 5vmin; font-family: 'Rouge Script', cursive">Price Chart</h2>
			<script>
			   function drawChart() {
				  // Define the chart to be drawn.

				  var data = new google.visualization.DataTable();
				  data.addColumn('string', 'Month');
				  data.addColumn('number', 'Symbol Name');
				 
				  data.addRows([
					 ['Jan',  7.0],
					 ['Feb',  6.9],
					 ['Mar',  9.5]
				  ]);
					 
				  // Set chart options
				  var options = {'title' : 'Past Prices',
					 hAxis: {
						title: 'Time'
					 },
					 vAxis: {
						title: 'Prices'
					 },   
					 'width':650,
					 'height':400	  
				  };
	  
				  // Instantiate and draw the chart.
				  var chart = new google.visualization.LineChart(document.getElementById('pastpricecontainer'));
				  chart.draw(data, options);

				  var months = ['Apr', 'May', 'Jun', 'Jul'];
					setInterval(function() {
						var count = 0;
						// instead of this random, you can make an ajax call for the current cpu usage or what ever data you want to display
						var random = Math.random() * 30 + 20;
						data.addRow([months[count], random]);
						chart.draw(data, options);
						count++;
					}, 250);
			   }
			   google.charts.setOnLoadCallback(drawChart);
			
			</script>
			</div>
		</section> -->

		
		  
		<!-- Purchasing stocks-->
		<section id="trading" style="background-image: none; height:100vh; position:relative">
            <div class="container">
              <h2 style ="font-size: 4vmin; font-family: 'Rouge Script', cursive">Purchase Here!</h2><br>
              <div class="row">
                <table id="tradingtable" style="width: 350px; margin-left: 130px;">
                  <tr rowspan=2>
					<th>Symbol</th>
					<td style="background-color: grey;" id="selectedsymbol">-</td>
				  </tr>
				  <tr>
					<th>Name</th>
					<td style="background-color: grey;" id="selectedname">-</td>
				  </tr>
				  <tr>
					<th>Price ($)</th>
					<td style="background-color: grey;" id="selectedprice">-</td>
				  </tr>
				  <tr>
					<th>Volume</th>
					<td style="background-color: grey;" id="selectedvolume">-</td>
				  </tr>
				</table>
				<form method= "POST" id="tradingform">
					<nav>
					<table class="box">
						<tr style="background-color:#d9d9d9;">
							<td style="font-size: larger; font-weight: bold; color:black">Quantity:</td>
							<td><input type="text" id="userquantity" placeholder="Quantity" min="1" max="999" style=" text-align: center; padding-bottom: 10px; width: 150px;"/></td>
						</tr>
						<tr style="background-color:#d9d9d9;">
							<td style="font-size: larger; font-weight: bold; color:black">Total $:</td>
							<td><input type="text" id="totalprice" disabled readonly style=" text-align: center; padding-bottom: 10px; font-weight: bold; width: 150px;"/>
							</td>
						</tr>
						<tr>
							<td></td>
							<td><button type="button" class="purchasebutton" colspan="2" style ="width: 100px; height: 50px; font-size: large; font-weight: bold;">Purchase</button></td>
						</tr>
					</table>
					</nav>
				</form>
			</div>
            </div>
          </section> 

	</div>

	<script>

        $(document).on('click', '.purchasebutton', function() {  
          var stocksymbol = rowStock[0];
          var stockname = rowStock[1];
          var stockvol = rowStock[2];
          var stockcurrentprice = rowStock[3];
          var userquantity = $('#userquantity').val();
          // document.getElementById("#totalprice").value = userquantity * stockcurrentprice
          // console.log(stocksymbol, stockname, stockvol, stockcurrentprice);
          console.log(userquantity);
          async function postData(serviceURL, requestBody) {
              var requestParam = {
                  headers: { "Accept": "application/json;", "Content-Type": "application/json;" },
                  mode: 'cors', // other options: no-cors, etc.
                  method: 'POST',
                  body: JSON.stringify(requestBody)
              }
              try {
                  const response = await fetch(serviceURL,requestParam);
                  data = await response.json();
                  Swal.fire({
                            title: 'Success!',
                            text: "You can see your purchased stocks in your holdings!",
                            icon: 'success',
                            confirmButtonColor: '#4caf50',
                            confirmButtonText: 'Okay'
                        })
              } catch (error) {
				Swal.fire({
                            title: 'Unsuccessful!',
                            text: "Please check if you have enough credits to purchase!",
                            icon: 'fail',
                            confirmButtonColor: '#4caf50',
                            confirmButtonText: 'Okay'
                        })
              }
          }
        //     var username = "earnest"; // e.g., 9781449474453
            var serviceURL = "http://127.0.0.1:5020/purchase";
			var userquantity = parseInt(document.getElementById('userquantity').value);
			var stockcurrentprice = parseFloat(document.getElementById('selectedprice').textContent);
			var totalprice = parseFloat(document.getElementById('totalprice').value);
            var requestBody = {
                username: username, symbol: stocksymbol, price: totalprice, qty: userquantity, transactiontype: "Buy"
            };
        //   console.log(requestBody);
            postData(serviceURL, requestBody);
        });

        $(document).on('input', '#userquantity', function() {
          var userquantity = document.getElementById('userquantity').value;
          var stockcurrentprice = document.getElementById('selectedprice').textContent;
          document.getElementById("totalprice").value = userquantity * stockcurrentprice;
        //   console.log(userquantity);
        //   console.log(stockcurrentprice);
        });

		async function getnewsbysymbol(ticker){
				$("#newstable").find("tr:gt(0)").remove(); // clear table
				var newsrows = "";
				// Change serviceURL to your own
				var serviceURL = "http://127.0.0.1:6020/news/getnews/" + ticker;
				try {
					const response =
						await fetch(
						serviceURL, { method: 'GET', mode: 'cors' }
					);
					const data = await response.json();
					var stocksnews = data.news //the arr is in data.books of the JSON data
					console.log(stocksnews);
					for (const news of stocksnews) {
						// console.log(stock)
						eachrownews =
							"<td>" + news.author + "</td>" +
							"<td><a href='" + news.url + "' target='_blank'>" + news.title + "</a></td>" +
							"<td>" + news.publish_date + "</td>";
						newsrows += "<tr style='font-size:2vmin; font-family:Rouge Script, cursive'>" + eachrownews + "</tr>";
						console.log(eachrownews);
					}
					$('#newstable').append(newsrows);
				} catch (error) {
					// Errors when calling the service; such as network error, 
					// service offline, etc
					// console.log(error);
				// error
			};
		};
		$(document).on("click", "#newsicon", function() {
			$("#news").modal({
				fadeDuration: 200,
			});
			var thisrow = $(this).closest("tr")
			var stocksymbol=thisrow.find("td:eq(0)").html();
			getnewsbysymbol(stocksymbol);
		});



        $(document).on('click', '.submitbtn', function() {
          var currentRow=$(this).closest("tr");
          var stocksymbol=currentRow.find("td:eq(0)").html();
          var stockname=currentRow.find("td:eq(1)").html();
          var stockvolume=currentRow.find("td:eq(2)").html();
          var stockcurrentprice=currentRow.find("td:eq(3)").html();

          rowStock = [stocksymbol, stockname, stockvolume, stockcurrentprice];
		  document.getElementById('selectedsymbol').innerHTML = stocksymbol;
		  document.getElementById('selectedname').innerHTML = stockname;
		  document.getElementById('selectedprice').innerHTML = stockcurrentprice;
		  document.getElementById('selectedvolume').innerHTML = stockvolume;
		  var userquantity = document.getElementById('userquantity').value;
          var stockcurrentprice = document.getElementById('selectedprice').textContent;
          document.getElementById("totalprice").value = userquantity * stockcurrentprice;
          
        });
      </script>

	<script src="../css/dashboard/assets/js/util.js"></script>
	<script src="../css/dashboard/assets/js/main.js"></script>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<!-- <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script> -->
	<!-- <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script> -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>. -->



</body>

</html>