<!DOCTYPE HTML>
<html>

<head>
	<title>EduTrade</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../css/dashboard/assets/css/main.css" />

	<style>
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	</style>

	<!-- Scripts -->
	<script src="../css/dashboard/assets/js/jquery.min.js"></script>
	<script src="../css/dashboard/assets/js/jquery.scrolly.min.js"></script>
	<script src="../css/dashboard/assets/js/jquery.scrollex.min.js"></script>
	<script src="../css/dashboard/assets/js/browser.min.js"></script>
	<script src="../css/dashboard/assets/js/breakpoints.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

</head>

<body class="is-preload">

	<!-- Retrieve Session-->
	<script>
        var username = sessionStorage.getItem("user");
    </script>

	<!-- Header -->
	<div id="header">
		<div class="top">
			<!-- Logo -->
			<div id="logo">
				<h1 id="usernametop">Username</h1>
				<p id="credits">Balance</p>
				<p id="logout" style="font-size: small; text-align: right;"><a href = "login.html">Logout</a></p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="dashboard.html" id="index-link"><span class="icon solid fa-home">My dashboard</span></a>
					</li>
					<li><a href="holdings.php" id="holdings-link"><span
								class="icon solid fa-book-open">Holdings</span></a></li>
					<li><a href="#trading" id="trading-link"><span
								class="icon solid fa-search-dollar">Trading</span></a></li>
					<li><a href="account.html" id="account-link"><span
								class="icon solid fa-user-circle">Account</span></a>
					</li>
				</ul>
			</nav>

		</div>
	</div>

	<!-- Main -->
	<div id="main">

		<!-- Intro -->


		<!-- Portfolio -->
		<section id="trading" class="two">
			<div class="container">
				<h2>Stocks List</h2><br><br>
				<table id="stockstable">
					<tr>
						<th>Symbol</th>
						<th>Name</th>
						<th>Volume</th>
						<th>Current Price ($)</th>
					</tr>

				</table>
			</div>
		</section>

		<section id="trading" class="three">
			<div class="container">
				<h2>Trading stocks</h2><br>
				<div class="container">

					<p>Here you can buy and sell your stocks. High risks, high rewards. Be careful what you trade for.
					</p>

					<form method="post" action="#">
						<div>
							<table id="individualstocktable">
								<tr>
									<th>Symbol</th>
									<th>Name</th>
									<th>Volume</th>
									<th>Current Price ($)</th>
								</tr>
							</table>
							<input attribute type="number" name="symbol" placeholder="Volume" min="1" max="999"
								style="width: 120px; text-align: center; padding-bottom: 10px;" />
							<br><br>
							<select id="transactiontype" name="transactiontype"
								style="width:400px; text-align: center; left: 220px;">
								<option value="default" selected>Select transaction type</option>
								<option value="buy">Buy</option>
								<option value="sell">Sell</option>
							</select>
						</div>
						<br>
						<div class="col-12">
							<input type="submit" value="Submit" />
						</div>

					</form>

				</div>
			</div>


	</div>



	<script>
		// Helper function to display error message
		function showError(message) {
			// Display an error under the main container
			$('#main-container')
				.append("<label>" + message + "</label>");
		}
		// anonymous async function 
		// - using await requires the function that calls it to be async
		$("#addBookForm").submit(async (event) => {
			var isbnNumber = $('#isbn13').val();
			var price = $('#price').val();
			var title = $('#title').val();
			var availability = $('#availability').val();
			//Prevents screen from refreshing when submitting
			event.preventDefault();
			var serviceURL = "http://127.0.0.1:5000/book/" + isbnNumber;
			try {
				const response =
					await fetch(
						serviceURL, {
						method: 'POST', headers: { "Content-Type": "application/json" },
						body: JSON.stringify({ title: title, price: price, availability: availability })
					});

				const data = await response.json();
				if (response.ok) {
					window.location.replace("c:/Users/Brydon Seah/Desktop/html5up-prologue/stocks.html");
				}
			}
			catch {
				console.log("ERROR");
			}
		});
	</script>

	<script src="../css/dashboard/assets/js/util.js"></script>
	<script src="../css/dashboard/assets/js/main.js"></script>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


</body>

</html>